#photo {
  height: 30vh;
  width: 65vw;
}
#img {
  margin-top: 15vh;
}
#icons {
  margin-top: 8vh;
  /* background-color: chartreuse; */
  /* border:1px solid black; */
}
#details {
  margin-top: 5vh;
  /* background-color: chartreuse; */
  /* border:1px solid black; */
}
.btn-act{
  /* border: 5px solid pink;] */
  border-block: 10px solid black
}