/* #photo {
  height: 30vh;
  width: 65vw;
}
#img {
  margin-top: 15vh;
}
#icons {
  margin-top: 8vh;
 border:1px solid darkblue;     
 padding-left: 0px; 
 padding-right: 0px;
 background-color: chartreuse; 
}
#details {
  margin-top: 5vh;
   background-color: chartreuse; 
   border:1px solid black; 
 } 
.btn-act{ 
   border:1px solid red;    
   border-radius: 50%; 
 } 
#aux{
  background-color: black; 
}   */
body{
  /* background-color: black */
}
.testeclass{
  /* border: 3px solid black   */
}
.totalcard{
  margin-top: 5vh
}
.cardsize{
  min-height: 85vh;
  height: auto;
}
#desc{
  margin-top: 5vh
}