body{
    background-color: #101938
}
.content{
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins',sans-serif;
    font-size: 0.8em    
}
.logo{
    width: 40vw;
    height: 35vh
}
#card{
    border-radius: 5%;
    box-shadow: 5px -9px 6px 0px rgb(34, 38, 90);
}
.btn-bg{
    background-color: #101938;
    border: 2px solid #101938;
    border-radius: 4%;
    font-family: 'Courier New', Courier, monospace
}
#registerdiv{
    margin-top: 3vh;
}
li{
    background-color: #e8eaf6
}