#msg{
  /* position: relative; */
  margin-top: 30vh;
  padding-bottom: 1px;
  
  /* text-align: center; */
} 

#sliderDiv {
  display: inline-block;
  width: 80%;
  margin-top: 65vh;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center
}

#submit{
  background-color: whitesmoke;
  margin-top: 5.5vh;
  margin-left: 40vw;
}
input[type="range"]::-webkit-slider-thumb {
  border: 1px solid #000000;
  background: #71d9ff;
}


